<ion-header>
  <ion-toolbar color="bg" style="background-color: linear-gradient(162.46deg, #000000 0%, #09152E 99.97%, #49545D 99.98%) !important;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <h2>
      Inicio
    </h2>
    <ion-buttons slot="end">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
 <ion-tabs>
   <ion-tab-bar slot="bottom">
     <ion-tab-button tab="/">
      <ion-label style="color:#ffffff">Inicio</ion-label>
      <ion-icon name="home">
      </ion-icon>
     </ion-tab-button>
     <ion-tab-button tab="/">
      <ion-label style="color:#ffffff">Dulcería</ion-label>
      <ion-icon name="ice-cream-outline"></ion-icon>
     </ion-tab-button>
     <ion-tab-button tab="/">
      <ion-label style="color:#ffffff">Tienda</ion-label>
      <ion-icon name="storefront-outline"></ion-icon>

     </ion-tab-button>
     <ion-tab-button tab="/">
      <ion-label style="color:#ffffff">Combos</ion-label>
      <ion-icon name="restaurant-outline"></ion-icon>

     </ion-tab-button>
     <ion-tab-button tab="/">
      <ion-label style="color:#ffffff">Mis QR</ion-label>
      <ion-icon name="qr-code-outline"></ion-icon>

     </ion-tab-button>
   </ion-tab-bar>
 </ion-tabs>
</ion-content>
