<ion-header>
  <ion-toolbar color="bg" style="background-color: linear-gradient(162.46deg, #000000 0%, #09152E 99.97%, #49545D 99.98%) !important; color: #ffffff;">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="principal"></ion-back-button>
    </ion-buttons>
    <h2 class="mx-auto text-center">
      Tienda
    </h2>
    <ion-buttons slot="end">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <img src="../../../../assets/images/accesorios - ventana-principal/gafas.jpg" alt="">
          <p>$25.00</p>
          <p>gafas 3D</p>
          <ion-button><ion-icon name="cart"></ion-icon> Añadir al carrito</ion-button>
        </div>
        
      </ion-col>
      <ion-col>
        <div>
          <img src="../../../../assets/images/accesorios - ventana-principal/bote-palomita.png" alt="">
          <p>$25.00</p>
          <p>Bote de palomitas de R2D2</p>
          <ion-button><ion-icon name="cart"></ion-icon> Añadir al carrito</ion-button>
        </div>
        
      </ion-col>
      <ion-col>
        <div>
          <img src="../../../../assets/images/accesorios - ventana-principal/llavero-minion.png" alt="">
          <p>$15.00</p>
          <p>Llavero de Minion con oso</p>
          <ion-button><ion-icon name="cart"></ion-icon> Añadir al carrito</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="../../../../assets/images/accesorios - ventana-principal/gorra-snoopy.png" alt="">
          <p>$25.00</p>
          <p>Gorra Snoopy</p>
          <ion-button><ion-icon name="cart"></ion-icon> Añadir al carrito</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button class="segment-item" tab="/">
       <ion-label style="color:#ffffff">Inicio</ion-label>
       <ion-icon name="home">
       </ion-icon>
      </ion-tab-button>
      <ion-tab-button class="segment-item" tab="/dulceria">
       <ion-label style="color:#ffffff">Dulcería</ion-label>
       <ion-icon name="ice-cream-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button class="segment-item" tab="/tienda">
       <ion-label style="color:#ffffff">Tienda</ion-label>
       <ion-icon name="storefront-outline"></ion-icon>
 
      </ion-tab-button>
      <ion-tab-button class="segment-item" tab="/combos">
       <ion-label style="color:#ffffff">Combos</ion-label>
       <ion-icon name="restaurant-outline"></ion-icon>
 
      </ion-tab-button>
      <ion-tab-button class="segment-item" tab="mis-qr">
       <ion-label style="color:#ffffff">Mis QR</ion-label>
       <ion-icon name="qr-code-outline"></ion-icon>
 
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
