ion-content {
	position: relative;
	width: 100%;
	height: 100%;
	--ion-background-color: linear-gradient(162.46deg, #000000 0%, #09152E 99.97%, #49545D 99.98%) !important;
}
ion-icon{
width: 25px;
height: 22.08px;

}
ion-tabs{
	display: flex;
	position: static;
}