<ion-content class="ion-padding">
  <ion-grid class="my-grid">
    <ion-row class="parent-row">
      <ion-col>
        <ion-grid>
          <ion-row>
            <ion-col>
              <img
                src="../../../assets/images/logo/logo-autocinema-lanacional-color-blanco.png"
                alt="Logo Autocinema La Nacional"
              />
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button
                [routerLink]="['/login']"
                class="mt-5 fontOpenSansSemibold"
                color="button"
                style="background-color: #44d7b6"
                >Iniciar</ion-button
              >
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
