@media(min-width:100px) {
  ion-content {
    position: relative;
    width: 100%;
    height: 667px;
    --ion-background-color: linear-gradient(162.46deg, #000000 0%, #09152E 99.97%, #49545D 99.98%) !important;
  }

  img {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0px;
    top: 0px;
  }

  ion-button {
    position: absolute;
    width: 214px;
    height: 37px;
    left: -21px;
    top: 188px;

    border-radius: 5px;
    text-transform: capitalize;
  }
}

@media(min-width:280px) {
  ion-content {
    position: relative;
    width: 100%;
    height: 667px;
    --ion-background-color: linear-gradient(162.46deg, #000000 0%, #09152E 99.97%, #49545D 99.98%) !important;
  }

  img {
    position: absolute;
    width: 264px;
    height: 264px;
    left: 0px;
    top: 100px;
  }

  ion-button {
    position: absolute;
    width: 214px;
    height: 37px;
    left: 0px;
    top: 350px;
    border-radius: 5px;
    text-transform: capitalize;
  }
}

@media(min-width:320px) {
  ion-content {
    position: relative;
    width: 100%;
    height: 667px;
    --ion-background-color: linear-gradient(162.46deg, #000000 0%, #09152E 99.97%, #49545D 99.98%) !important;
  }

  img {
    position: absolute;
    width: 264px;
    height: 264px;
    left: 5px;
    top: 40px;
  }

  ion-button {
    position: absolute;
    width: 214px;
    height: 37px;
    left: 20px;
    top: 300px;
    border-radius: 5px;
    text-transform: capitalize;
  }
}

@media(min-width:360px) {
  ion-content {
    position: relative;
    width: 100%;
    height: 667px;
    --ion-background-color: linear-gradient(162.46deg, #000000 0%, #09152E 99.97%, #49545D 99.98%) !important;
  }

  img {
    position: absolute;
    width: 264px;
    height: 264px;
    left: 20px;
    top: 59px;
  }

  ion-button {
    position: absolute;
    width: 214px;
    height: 37px;
    left: 40px;
    top: 340px;
    border-radius: 5px;
    text-transform: capitalize;
  }
}

@media(min-width:375px) {
  ion-content {
    position: relative;
    width: 100%;
    height: 667px;
    --ion-background-color: linear-gradient(162.46deg, #000000 0%, #09152E 99.97%, #49545D 99.98%) !important;
  }

  img {
    position: absolute;
    width: 264px;
    height: 264px;
    left: 30px;
    top: 109px;
  }

  ion-button {
    position: absolute;
    width: 214px;
    height: 37px;
    left: 40px;
    top: 360px;
    border-radius: 5px;
    text-transform: capitalize;
  }
}

@media(min-width:380px) {
  ion-content {
    position: relative;
    width: 100%;
    height: 667px;
    --ion-background-color: linear-gradient(162.46deg, #000000 0%, #09152E 99.97%, #49545D 99.98%) !important;
  }

  img {
    position: absolute;
    width: 264px;
    height: 264px;
    left: 30px;
    top: 99px;
  }

  ion-button {
    position: absolute;
    width: 214px;
    height: 37px;
    left: 50px;
    top: 360px;
    border-radius: 5px;
    text-transform: capitalize;
  }
}

@media(min-width:400px) {
  ion-content {
    position: relative;
    width: 100%;
    height: 667px;
    --ion-background-color: linear-gradient(162.46deg, #000000 0%, #09152E 99.97%, #49545D 99.98%) !important;
  }

  img {
    position: absolute;
    width: 264px;
    height: 264px;
    left: 40px;
    top: 109px;
  }

  ion-button {
    position: absolute;
    width: 214px;
    height: 37px;
    left: 50px;
    top: 350px;

    border-radius: 5px;
    text-transform: capitalize;
  }
}

@media(min-width:480px) {
  ion-content {
    position: relative;
    width: 100%;
    height: 667px;
    --ion-background-color: linear-gradient(162.46deg, #000000 0%, #09152E 99.97%, #49545D 99.98%) !important;
  }

  img {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 10px;
    top: 109px;
  }

  ion-button {
    position: absolute;
    width: 300px;
    height: 37px;
    left: 50px;
    top: 500px;

    border-radius: 5px;
    text-transform: capitalize;
  }
}
