ion-content {
  position: relative;

  --ion-background-color: linear-gradient(
    162.46deg,
    #000000 0%,
    #09152e 99.97%,
    #49545d 99.98%
  ) !important;
}
ion-toolbar {
  background-color: linear-gradient(
    162.46deg,
    #000000 0%,
    #09152e 99.97%,
    #49545d 99.98%
  );
}

img {
  width: 80%;
  height: 100%;

  margin: auto;
}
.my-grid {
  height: 100% !important;
}

.line-input {
  margin-bottom: 0 !important;
  margin-left: 0px;
  ion-item {
    --border-color: transparent !important;
    --highlight-height: 0;
    border: 1px solid #dedede;
    border-radius: 7px;
    color: "light";
    &.item-has-focus {
      border: 1px solid var(--ion-color-primary);
    }
    ion-label {
      color: #807e7e !important;
      font-weight: 300;
      font-size: 1rem !important;
    }
  }
}
.aumentar-letra {
  font-size: 20px;
  margin-top: 120%;
}
