<ion-content class="ion-padding">
  <ion-header>
    <ion-toolbar color="bg">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
   <form [formGroup]="todo" (ngSubmit)="login()">
     <ion-grid class="my-grid">
       <ion-row class="parent-row">
         <ion-col>
           <ion-grid>
             <ion-row>
               <ion-col>
                 <div style="width:100%;text-align: center;align-content: center;align-self: center;">
                  <img src="../../../assets/images/logo/logo-autocinema-lanacional-color-blanco.png" class="img-fluid" alt="Logo Autocinema La Nacional">
                </div>
               </ion-col>
             </ion-row>
             <ion-row style="text-align: center; text-transform: uppercase;">
              <ion-col>
                <h2 style="color: #CCCCCC; "> Iniciar sesión</h2>
              </ion-col>
             </ion-row>
           </ion-grid>
           <ion-list class="line-input">
             <ion-item>
               <ion-input type="tel" placeholder="Celular" formControlName="celular" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"></ion-input>
             </ion-item>
             <ion-item>
               <ion-input [type]="showPassword ? 'text': 'password' " formControlName="pass" placeholder="Contraseña"   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" ></ion-input>
               <ion-icon [name]="passwordToogleIcon" color="gray" slot="end" (click)="togglePassword()"></ion-icon>
             </ion-item>
           </ion-list>
           <div style="text-align: center; padding-top: 2rem;">
            <ion-button expand="block" color="button" class="entrar" style="background: rgba(68, 215, 182, 0.8) !important;"[disabled]="!todo.valid">Iniciar sesión</ion-button> 
          </div>
         </ion-col>
       </ion-row>
     </ion-grid>
   </form>
</ion-content>